@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* We dwingen hier lichte, frisse kleuren af */
  --background: #f8fafc; /* Slate-50 (heel lichtgrijs) */
  --foreground: #0f172a; /* Slate-900 (diep donkerblauw/grijs voor tekst) */
}

/* Geen @media (prefers-color-scheme: dark) meer! */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  /* Zorgt voor soepele letters */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}